@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.soraFont {
    font-family: "Sora", sans-serif;
}
.playfairFont {
    font-family: "Playfair Display", serif;
}

.robotoFont {
    font-family: "Roboto Slab", serif;
}

.playwriteFont {
    font-family: "Playwrite GB S", cursive;
}

html {
    scroll-behavior: smooth;
}

.bodyBg {
    background-image: url(./image/backgroudImag.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}